<div id="userUpdateModal" ng-controller="RegistrationCtrl">

        <div class="modal-header">
            <button type="button" class="close">&times;</button>
                <h3 class="modal-title">Update your Fields</h3>
        </div>

        <div class="modal-body">
            <form role="form" id="userRegistrationForm" name="userRegistrationForm" novalidate>
            <!--First Name-->
            <div class="form-group" ng-class="{ 'has-error' : userRegistrationForm.userFirstName.$invalid && !userRegistrationForm.userFirstName.$pristine }">
                <label for="userFirstName" class="control-label">First Name* :</label>
                <input class="form-control" type="text" id="userFirstName" name="userFirstName" placeholder="First Name"
                       ng-model="user.firstName" required>
                <span style="color:red; font-family:arial, sans-serif"
                      ng-show="userRegistrationForm.userFirstName.$error.required && userRegistrationForm.userFirstName.$dirty
                        && userRegistrationForm.userFirstName.$touched">required..!</span>
            </div>

            <!--Last Name-->
            <div class="form-group" ng-class="{ 'has-error' : userRegistrationForm.userLastName.$invalid && !userRegistrationForm.userLastName.$pristine }">
                <label for="userLastName" class="control-label">Last Name* :</label>
                <input class="form-control" type="text" id="userLastName" name="userLastName" placeholder="Last Name"
                       ng-model="user.lastName" required>
                <span style="color:red; font-family:arial, sans-serif"
                      ng-show="userRegistrationForm.userLastName.$error.required && userRegistrationForm.userLastName.$dirty
                        && userRegistrationForm.userLastName.$touched">required..!</span>
            </div>

            <!--Address-->
            <div class='form-group'>
                <label for="state" class="control-label">State :</label>
                <input type="text" class="form-control" id="state" name="state" ng-model="user.state"
                       uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" required>
                <span style="color:red; font-family:arial, sans-serif"
                      ng-show="userRegistrationForm.state.$error.required && userRegistrationForm.state.$dirty
                        && userRegistrationForm.state.$touched">required..!</span>
            </div>

            <!--email-->
            <div class="form-group" ng-class="{ 'has-error' : userRegistrationForm.userEmail.$invalid && !userRegistrationForm.userEmail.$pristine }">
                <label for="userInputEmail" class="control-label">Email* :</label>
                <input class="form-control" type="email" id="userInputEmail" name="userEmail" placeholder="abc@xyz.com"
                       ng-model="user.email" required>
                <div>
                    <span class="error" style="color:red; font-family:arial, sans-serif"
                          ng-show="userRegistrationForm.userEmail.$error.required && userRegistrationForm.userEmail.$dirty">
                        required..!</span>
                    <span class="error" style="color:red" ng-show="!userRegistrationForm.userEmail.$error.required &&
                        userRegistrationForm.userEmail.$error.userEmail && userRegistrationForm.userEmail.$dirty">
                        invalid email!</span>
                </div>
            </div>

            <!--password-->
            <div class="form-group" ng-class="{ 'has-error' : userRegistrationForm.password.$invalid && !userRegistrationForm.password.$pristine }">
                <label for="userPassword" class="control-label">Password* :</label>
                <input class="form-control" type="password" id="userPassword" name="password" placeholder="Password" ng-minlength="6"
                       ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-model="user.password" required>
                <span style="color:red; font-family:arial, sans-serif" ng-show="userRegistrationForm.password.$error.required
                        && userRegistrationForm.password.$dirty">required..!</span>
                <span style="color:red; font-family:arial, sans-serif" ng-show="!userRegistrationForm.password.$error.required
                        && (userRegistrationForm.password.$error.minlength || userRegistrationForm.password.$error.maxlength)
                         && userRegistrationForm.password.$dirty">Passwords must be between 6 and 20 characters.</span>
                <span style="color:red; font-family:arial, sans-serif" ng-show="!userRegistrationForm.password.$error.required &&
                    !userRegistrationForm.password.$error.minlength &&!userRegistrationForm.password.$error.maxlength
                    && userRegistrationForm.password.$error.pattern && userRegistrationForm.password.$dirty">
                    Must contain one lower &amp; uppercase letter,and one non-alpha character (a number or a symbol.)</span>
                <br/>
                <label for="passwordConfirm">Confirm Password</label>
                <input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm"
                       ng-model="user.passwordConfirm" validate-password required>
                <span style="color:red; font-family:arial, sans-serif" class="has-error" ng-show="!userRegistrationForm.passwordConfirm.$error.required &&
                    userRegistrationForm.passwordConfirm.$error.noMatch && userRegistrationForm.passwordConfirm.$dirty">Passwords don't match.</span>

            </div>

            <!--phone No.-->
            <div class="form-group" ng-class="{ 'has-error' : userRegistrationForm.userPhone.$invalid && !userRegistrationForm.userPhone.$pristine }">
                <label for="userPhone" class="control-label">Phone* :</label>
                <input class="form-control" type="number" name="userPhone" minlength="10" maxlength="10" id="userPhone"
                       placeholder="Phone No."
                       ng-pattern="/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/" ng-model="user.phone">

                <div role="alert">
                        <span style="color:red; font-family:arial, sans-serif" class="error"
                              ng-show="userRegistrationForm.userPhone.$error.required && userRegistrationForm.userPhone.$error.pattern
                             && userRegistrationForm.userPhone.$touched">invalid number..!</span>
                </div>
            </div>

            <div class="bfh-datepicker" ng-class="{ 'has-error' : userRegistrationForm.userDOB.$invalid && !userRegistrationForm.userDOB.$pristine }">
                <label for="userDOB" class="control-label">Date Of Birth* :</label>
                <input class="form-control" type="date" name="userDOB" id="userDOB"
                       placeholder="Date Of Birth" ng-model="user.dateOfBirth" required>
                <div role="alert">
                    <span style="color:red; font-family:arial, sans-serif" class="error"
                          ng-show="userRegistrationForm.userDOB.$touched && userRegistrationForm.userDOB.$error.required">
                        required..!</span>
                </div>
            </div>

            <br/>
            <div class="radio-male">
                <label>Gender:</label>
                <label><input class="btn btn-default" type="radio" name="gender" id="male" value="Male"
                              ng-model="user.male" />Male</label>
                <label><input class="btn btn-default" type="radio" name="gender" id="female" value="Female"
                              ng-model="user.female" />Female</label>
            </div>
            </form>
        </div>
        <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="update()">Update</button>
                <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
</div>